.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #066b61;
  max-width: 400px;
  width: 100%;
  padding-top: 0;
}
.headerMessageTitle {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
  font-weight: bold;
  flex-direction: column;
  border-bottom: 0;
  background-color: #00ab9b;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.205);
  padding: 24px;
  color: #fff;
}
.chat {
  font-size: 12px;
  font-weight: 400;
}

.customersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  flex: 1;
}
.leaveBtn {
  border: none;
  outline: none;
  font-family: "Montserrat";
  font-weight: bold;
  border-radius: 50%;
  background-color: #f66;
  cursor: pointer;
  transition: 0.5s;
  padding: 4px;
  &:hover {
    background-color: #f33;
  }
  
}
.footer {
  width: 100%;
  padding: 24px;
  padding-bottom: 0;
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #E99D44;
  color: #fff;
}

.search {
  padding: 24px;
  width: 100%;
}
.searchView {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.233);
  border-radius: 30px;
  padding: 4px 8px;
  background-color: #00ab9b;
}

.searchInput {
  background-color: transparent;
  border: 0;
  padding: 4px;
  outline: none;
  width: 100%;
  font-size: 16px;
  font-family: Montserrat;
  color: white;
  &::placeholder {
    color: #eee
  }
}
